.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.heart {
    animation: heartPulse 1.6s infinite;
    fill: crimson;
}
@keyframes heartPulse {
    0%   {
        transform: scale(1);
    }
    15%  {
        transform: scale(1.3);
    }
    50%  {
        transform: scale(1.1);
    }
    75%  {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1);
    }
}

.title {
    font-family: Helvetica;
    font-size: 150px;
    transform: translateY(-20%);
}

.title-label,
.heart {
    display: inline-block;
    vertical-align: middle;
}