.hidden-sm,
.hidden-md,
.hidden-lg {
    transition: all 1s;
}

@media(max-width: 960px) {
    .hidden-sm {
        opacity: 1;
    }
    .hidden-md {
        opacity: 1;
    }
    .hidden-lg {
        opacity: 0;
    }
}

@media(max-width: 680px) {
    .hidden-sm {
        opacity: 1;
    }
    .hidden-md {
        opacity: 0;
    }
    .hidden-lg {
        opacity: 0;
    }
}

@media(max-width: 380px) {
    .hidden-sm {
        opacity: 0;
    }
    .hidden-md {
        opacity: 0;
    }
    .hidden-lg {
        opacity: 0;
    }
}
